@charset "utf-8";

@font-face {
    font-family: 'ghost' ;
    src:  url('Ghost\ Shadow.ttf'),format('truetype'), url('Shadow.ttf'),format('truetype');
}

.container{
    background-color: rgba(158, 140, 140, 0.26);
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    
}
body{
    background-image: url("R.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
a:hover{
    text-decoration:dashed;
    color: rgb(4, 255, 4);
    
}
h1{
    text-align: center;
    color: rgb(1, 80, 145);
    font-family:'Shadow', sans-serif;
    font-size: 60px;
    
    
}
p{
    padding: 5%;
    line-height: 30px;
    border-radius: 5px;
    color: wheat;

}
.tituloss  {
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 4px gray;
    text-indent: 90px;
}